h2.work-title {
    text-align: center
}

@media screen and (min-width: 769px){
    .main-teaser-content {
        /* width: 500px;  */
    }
    .main-layout { 
        /* width: 70%;  */
        margin:0 auto;
    }
}

.main-teaser-content {
    margin-top:5em;
    margin-bottom:2em;
    justify-content: center;
}

.product-teaser-large {
    margin:2em 0;
}

.main-layout {
    width: 75%; /* this need to be fix! /
}