
    <footer class="footer">
        <section class="section">
            <div class="container">
            <div class="columns">
                <div class="column">Jenius<strong>in</strong></div>
                <div class="column">
                <h5 class="title is-5">Tentang</h5>
                <p class="content">Jenius adalah bank digital yang merevolusi bagaimana kita berinteraksi dengan bank, kemudahan yang didapat, dan fitur yang membantu kebutuhan finansial kita.</p>
                </div>
                <div class="column">
                <h5 class="title is-5"></h5>
                </div>
                <div class="column">
                    <h5 class="title is-5">Tautan</h5>
                    <ul class="">
                        <li><a href="https://www.jenius.com/">Jenius.com</a></li>
                        <li><a href="https://jenius.tech/">Jenius Engineering</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </section>
    </footer>
        
    <script src="https://bulma.io/vendor/clipboard-1.7.1.min.js"></script>
    <script src="https://bulma.io/vendor/js.cookie-2.1.4.min.js"></script>
    <script src="https://bulma.io/lib/main.js?v=201807250738"></script>
          