---
layout: default
---


<section class="section">
    <article class="howto">
      <div class="container">
        <h2 class="has-text-centered title has-text-weight-semibold">{{ page.title }}</h2>
      </div>
      
      <div class="container main-teaser-content">
          <ol>
          {% for post in site.categories[page.category] %}
          <li><a href="{{ post.url | absolute_url }}">
            {{ post.title }}
          </a></li>
          {% endfor %}
        </ol>

      </div>

      <div class="container"></div>
    </article>
  </section>

