---
layout: default
---

{% if page.category == "movie" %}
<!-- djsaldjas -->
{% elsif page.category == "music" %}
<!-- music -->
{% elsif page.category == 'ecommerce' %}
<!-- ecom, -->
{% elsif page.category == "travel" %}

<!-- <div class="has-text-centered">travel</div> -->

{% endif %}
<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-mobile is-10 is-offset-1">
            <!-- START ARTICLE -->
            <div class=" article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <h2 class="has-text-centered title is-4 heading-serif">{{ page.title }}</h2>
                        </div>
                    </div>
                    <div class="content article-body">
                            {% for post in site.categories[page.category] %}
                                <!-- start music -->
                                <section class="hero is-default is-bold">
                                    <article class="howto {{ post.title }}">
                                        <div class="hero-body">
                                            <div class="card container ">
                                                <div class="columns is-vcentered">
                                                    <div class="column is-5">
                                                        <figure class="image is-4by3">
                                                                <img src="{{ post.image.teaser }}">
                                                        </figure>
                                                    </div>

                                                    <div class="column is-5">
                                                        <h1 class="title is-4">
                                                            <a href="{{ post.url | absolute_url }}">
                                                                {{ post.title }}
                                                            </a>
                                                        </h1>
                                                        <div class="content">
                                                            <p> {{ post.description }}</p>
                                                        </div>
                                                        <br>
                                                        <p>
                                                            <a class="button is-medium is-info is-outlined" href="{{ post.url | absolute_url }}">
                                                                Learn more
                                                            </a>
                                                        </p>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </section>
                                <!-- end music -->

                                
                            {% endfor %}

                    </div>
                </div>
            </div>
            <!-- END ARTICLE -->
            
            
    </section>
    <!-- END ARTICLE FEED -->
</div>
