  {% include head.html %}

  <body class="layout-default">

    
      

    {% include header.html %}
    
    <div class="container main-layout">
      {{ content }}
    </div>

    <footer class="footer">
      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column">Jenius<strong>in</strong></div>
            <div class="column">
              <h5 class="title is-5">Tentang</h5>
              <ol>
                <ul>satu</ul>
              </ol>
            </div>
            <div class="column">
              <h5 class="title is-5">Tentang</h5>
            </div>
            <div class="column">
              <h5 class="title is-5">Tentang</h5>
            </div>
          </div>
        </div>
      </section>
    </footer>
        
    <script src="https://bulma.io/vendor/clipboard-1.7.1.min.js"></script>
    <script src="https://bulma.io/vendor/js.cookie-2.1.4.min.js"></script>
    <script src="https://bulma.io/lib/main.js?v=201807250738"></script>
  </body>
</html>