---
layout: default
---
  
  <section class="section">
    <article class="howto">
      <div class="container">
        <h2 class="has-text-centered title has-text-weight-semibold">{{ page.title }}</h2>
      </div>
      
      <div class="container main-teaser-content">
          
        {{ content }}

        <div class="content-metadata">
          <span></span>
          <span class="field-name">Published: {{ page.date | date: '%B %-d, %Y' }}</span><br>
          <span class="field-name">Length: {% include read-time.html %} </span><br>
          <span class="authors-container">
            Author : <a href="https://twitter.com/{{site.author.handle}}">{{site.author.name}}</a>
          </span>
        </div>

        <div class="is-center"> {% include post_pagination.html %} </div>


      </div>

      <div class="container"></div>
    </article>
  </section>